@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, .container {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #333;
}

.container {
  background: #ecf0f1;
  position: relative;
}

#logo_wrapper {
  width: 16em;
  height: 8em;
  position: absolute;
  left: 50%;
  top: 4em;
  transform: translate3d(-50%, 0, 0);
}

#logo {
  width: 16em;
  height: 8em;
  position: absolute;
  transform-style: preserve-3d;
}

#logo_grey, #logo_white {
  position: absolute;
}

#logo_grey {
  background: url('../img/logo-main-grey.png') no-repeat;
  width: 16em;
  height: 8em;
  background-size: 16em 8em;
  transform: scale(0.99);
}

#logo_white {
  background: url('../img/logo-main-white.png') no-repeat;
  width: 16em;
  height: 8em;
  background-size: 16em 8em;
  transform: translateZ(10px);
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo_grey {
    background-image: url('../img/logo-main-grey@2x.png');
  }
  
  #logo_white {
    background-image: url('../img/logo-main-white@2x.png');
  }
}

.copy {
  width: 16em;
  position: absolute;
  left: 50%;
  top: 16em;
  transform: translate3d(-50%, 0, 0);
  text-align: center;
}

.copy .name {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 1em;
}

.copy .two-col span {
  width: 8em;
  float: left;
}

.copy .links a, .copy .links a:visited, .copy .links a:hover {
  color: #333;
  line-height: 4em;
}
