html, body, .container {
  width: 100%;
  height: 100%;
}

.container {
  background: #ecf0f1;
  position: relative;
}

#logo_wrapper {
  width: 256px;
  height: 128px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate3d(-50%, -50%, 0);
}

#logo {
  width: 256px;
  height: 128px;
  position: absolute;
  transform-style: preserve-3d;
}

#logo_grey, #logo_white {
  position: absolute;
}

#logo_grey {
  background: url('../img/logo-main-grey.png') no-repeat;
  width: 256px;
  height: 128px;
  transform: scale(0.99);
}

#logo_white {
  background: url('../img/logo-main-white.png') no-repeat;
  width: 256px;
  height: 128px;
  transform: translateZ(10px);
}